body {
  margin: 0;  
}

#container {
    height:768px;
    width: 1366px;
    background-color: rgb(140,0,0);
    position: relative;
    margin-top: 0;
}

#headerone{
  margin: 0;
}



.box {
 background-color: rgb(200, 200, 200);
    border: 7px solid rgb(100, 100, 100);
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    width: 200px;
}

.box:hover {
    background-color: yellow;
}






