body {
	margin: 0;
	background-color: rgb(100, 183, 255);
	height: 768px;
	position: relative;
	overflow: hidden;
}

h1 {
	display: block;
	font-size: 50px;
	font-weight: bold;
	font-family: helvetica;
	text-align: center;
	color: black;
}

h2 {
	display: block;
	font-size: 30px;
	font-family: helvetica;
	color: black;
	text-align: center;
}

h3 {
	display: block;
	font-size: 20px;
	font-weight: bold;
	font-family: helvetica;
	color: black;
	text-align: center;
}

p {
	display: block;
	font-size: 20px;
	font-family: helvetica;
	color: black;
	text-align: center;
}

a {
	display: block;
	font-size: 20px;
	font-weight: bold;
	font-family: helvetica;
	color: black;
	text-decoration: none;
}

a.buttons {
	display: block;
	font-size: 15px;
	font-weight: bold;
	font-family: helvetica;
	color: white;
}

#menu {
	top: 20%;
	left: 2%;
	right: 20px;
	position: absolute;
	width: 96%;
	height: 120px;
	z-index: 100;
}

#bottom-line {
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(100, 100, 100, 0.1);
	position: fixed;
	z-index: 1000;
}

#stop {
	position: absolute;
	top: 50px;
}

#menu-line {
	position: relative;
	top: 18px;
	width: 100%;
	height: 3px;
	background-color: black;
}

.stop-button {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 4px;
	background-color: white;
	border-radius: 50%;
	border: 3px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
	text-align: center;
}

.stop-text {
	position: absolute;
	width: 100px;
	top: 30px;
	text-align: center;
}

.stop-button:hover {
	position: absolute;
	width: 40px;
	height: 40px;
	top: -2px;
	left: -10px;
	border-color: rgb(0, 159, 227);
}

.stop-button:hover .stop-text {
	position: absolute;
	top: 36px;
	font-size: 20px;
}

#jungle-button {
	left: 5%;
}

#jungle-text {
	left: -30px;
}

#heaven-button {
	left: 27.5%;
}

#heaven-text {
	left: -30px;
}

#atlantis-button {
	left: 50%;
}

#atlantis-text {
	left: -35px;
}

#space-button {
	left: 72.5%;
}

#space-text {
	left: -60px;
}

#mom-button {
	left: 95%;
}

#mom-text {
	left: -35px
}

#top {
	position: fixed;
	right: 10px;
	bottom: 20px;
}

#sky {
	position: absolute;
	margin: 0;
}

#overskrift {
	position: absolute;
	left: 50px;
	top: 50px;
}

.cloud {
	z-index: -100;
	position: absolute;
	animation-name: moving-clouds;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

#cloud1 {
	height: 100px;
	left: 300px;
	top: 200px;
	animation-name: moving-clouds;
	animation-duration: 60s;
}

#cloud2 {
	height: 70px;
	left: 1300px;
	top: 200px;
	animation-duration: 70s;
}

#cloud3 {
	height: 50px;
	left: 10000px;
	top: 110px;
	animation-duration: 80s;
}

#cloud4 {
	height: 10px;
	left: 500px;
	top: 200px;
	animation-duration: 250s;
}

#cloud5 {
	height: 190px;
	left: -300px;
	top: 300px;
	animation-duration: 200s;

}

#cloud6 {
	height: 170px;
	left: -300px;
	top: 1000px;
	animation-duration: 150s;
}

#cloud7 {
	height: 200px;
	left: -300px;
	top: 100px;
	animation-duration: 100s;
}

@keyframes moving-clouds {
	100% {
		left: 1800px;
	}
}

#maincontent {
	position: relative;
	margin: 0;
	left: 10%;
	top: 30%;
	width: 100%;
}

.destination {
	font-family: Helvetica, sans-serif;
}

.box {
	background-color: rgb(200, 200, 200);
	border: 2px solid rgb(100, 100, 100);
	padding: 0;
	margin: 1rem;
	display: inline-block;
	width: 300px;
	height: 200px;
	position: relative;
	top: 0px;
	overflow: hidden;
	border-radius: 2%;
}

#box1 {
	left: 2%;
}

#box2 {
	left: 2%;
}

#box3 {
	left: 2%;
}

.box:hover {
	background-color: yellow;
}

.boximages {
	height: 100%;
	width: 100%;
	margin: 0;
	opacity: 0.8;
	z-index: 50;
	position: relative;
}

.boxoverlay {
	margin: 0;
	position: relative;
	width: 100%;
	background-color: rgb(255, 40, 40);
	z-index: 100;
}

#imgbox2 {
	position: relative;
	left: -18px;
}

.boxoverlay {
	margin: 0;
	position: relative;
	width: 100px;
	height: 100px;
	background-color: rgb(255, 40, 40);
	z-index: 100;
}

#tunnelanimation {
	position: absolute;
	bottom: 0;
}

.tunnelinside {
	height: 300px;
	position: absolute;
	bottom: 0;
	animation-iteration-count: infinite;
	animation-duration: 7s;
	animation-timing-function: linear;
}

#tunnelinside1 {
	animation-name: tunnelmoving1;

}

#tunnelinside2 {
	animation-name: tunnelmoving1;
}


#tunnelinside3 {
	animation-name: tunnelmoving2;
}

#tunnelbackground {
	height: 300px;
	position: absolute;
	bottom: 0;
	z-index: -100;
}

@keyframes tunnelmoving1 {
	0% {
		left: 1500px;
	}

	100% {
		left: -2000px;
	}
}

@keyframes tunnelmoving2 {
	0% {
		left: 0px;
	}

	100% {
		left: -3500px;
	}
}

#trainfrontpage {
	position: absolute;
	bottom: 30px;
	left: 400px;
	margin: 0;
}
