body {
  margin: 0;
  background-color: rgb(248, 228, 162);
}

#container {
    height:752px;
    width: 1518px;
    background-color: rgb(248, 228, 162);
    position: relative;
    margin-top: 0;
}

#headerone{
  margin: 0;
}

.dots{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(200, 0, 0);
  position: absolute;
  z-index: 50;
  margin: 0;
  top: 300px;
}

.dots:hover{
  height: 40px;
  width: 40px;
}

.mainline{
  height: 5px;
  width: 1536px;
  background-color: rgb(200, 0, 0);
  position: relative;
  top: 308px;
  position: absolute;
  margin: auto;
}

#dot1{
  left: 154px;
}
#dot2{
  left: 454px;
}
#dot3{
  left: 754px;
}
#dot4{
  left: 1054px;
}
#dot5{
  left: 1344px;
}

.box {
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(100, 100, 100);
    padding: 0;
    margin: 1rem;
    display: inline-block;
    width: 300px;
    height: 200px;
    position: relative;
    top: 400px;
    left: 200px;
    overflow: hidden;
}

.box:hover {
    background-color: yellow;
}

.boximages{
  height: 100%;
  margin: 0;
  opacity: 0.8;
  z-index: 50;
}

.boxoverlay{
  margin: 0;
  position: relative;
  width: 100%;
  background-color: rgb(255, 40, 40);
  z-index: 100;
}

#imgbox2{
  position: relative;
  left: -18px;
}
