body {
	height: 1500px;
	width: 1366px;
	margin: 0;
}

h1 {
	display: block;
	font-size: 50px;
	font-weight: bold;
	font-family: helvetica;
	text-align: center;
	color: black;
}

h2 {
	display: block;
	font-size: 30px;
	font-weight: bold;
	font-family: helvetica;
	color: black;
	text-align: center;
}

p {
	display: block;
	font-size: 30px;
	font-family: helvetica;
	text-align: center;

}

a {
	display: block;
	font-size: 20px;
	font-weight: bold;
	font-family: helvetica;
	color: black;
	text-decoration: none;
}

a.buttons {
	display: block;
	font-size: 15px;
	font-weight: bold;
	font-family: helvetica;
	color: white;
}

#logo {
	top: 0px;
	position: relative;

}

#stop {
	position: absolute;
	left: 500px;
}

#info-box {
	position: absolute;
	top: 500px;
	left: 500px;
}



#stop {
	position: absolute;
	top: 50px;
}

#info-box2 {
	top: 50px;
	left: 650px;
	position: absolute;
}

#bunnlinja {
	top: 1200px;
	position: absolute;
	margin: 0;
}

#prev {
	top: 1100px;
	left: 30px;
	position: absolute;
	width: 130px;
	height: 40px;
	background-color: black;
}

#next {
	top: 1100px;
	right: 30px;
	position: absolute;
	width: 130px;
	height: 40px;
	background-color: black;
}

#text-prev {
	position: absolute;
	bottom: 5px;
	left: 31px;
}

.door {
	position: absolute;
	width: 10px;
	height: 30px;
	background-color: white;
	bottom: 5px;
}

#door1-prev {
	left: 0;
}

#door2-prev {
	left: 120px;
}

.window {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: white;
	bottom: 25px;
}

#window1-prev {
	left: 20px;
}

#window2-prev {
	left: 40px;
}

#window3-prev {
	left: 60px;
}

#window4-prev {
	left: 80px;
}

#window5-prev {
	left: 100px;
}

.wheel {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
}

#wheel1-prev {
	bottom: -11px;
	left: 10px;
}

#wheel2-prev {
	bottom: -11px;
	left: 110px;
}

#text-next {
	position: absolute;
	bottom: 5px;
	left: 40px;
}

#door1-next {
	left: 0;
}

#door2-next {
	left: 120px;
}

#window1-next {
	left: 20px;
}

#window2-next {
	left: 40px;
}

#window3-next {
	left: 60px;
}

#window4-next {
	left: 80px;
}

#window5-next {
	left: 100px;
}

#wheel1-next {
	bottom: -11px;
	left: 10px;
}

#wheel2-next {
	bottom: -11px;
	left: 110px;
}

#menu {
	top: 1200px;
	left: 20px;
	position: relative;
	width: 1326px;
	height: 150px;
}

#menu-line {
	position: absolute;
	top: 20px;
	width: 100%;
	height: 3px;
	background-color: black;
}

.stop-button {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 4px;
	background-color: white;
	border-radius: 50%;
	border: 3px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
}

.stop-text {
	position: absolute;
	top: 30px;
}

.stop-button:hover {
	width: 40px;
	height: 40px;
	top: -2px;
	border-color: rgb(0, 159, 227);
}

.stop-button:hover .stop-text {
	position: absolute;
	top: 36px;
	font-size: 20px;
}

#majorstuen-button {
	left: 30px;
}

#majorstuen-text {
	left: -25px;
}

#national-button {
	left: 340px;
}

#national-text {
	left: -20px;
}

#oslos-button {
	left: 633px;
}

#oslos-text {
	left: -10px;
}

#gronland-button {
	left: 946px;
}

#gronland-text {
	left: -20px;
}

#toyen-button {
	left: 1256px;
}

#toyen-text {
	left: -10px
}

#top {
	position: fixed;
	right: 10px;
	bottom: 20px;
}

#tunnelview {
	background-color: rgb(255, 255, 255);
	width: 1366px;
	height: 300px;
	top: 150px;
	left: 0px;
	position: absolute;
	overflow: hidden;
	margin: auto;

}

#station-name {
	font-size: 20px;
	top: 225px;
	font-family: Helvetica;
	left: 581px;
	position: absolute;
	z-index: 200;
	color: white;
	animation: train-stop 7s;
}

@keyframes train-stop {
	0% {
		opacity: 0;
	}

	99% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		color: white;
	}
}

#train {
	z-index: 100;
	position: absolute;
	bottom: -205px;
	left: 100px;
	height: 500px;
	animation: togpow 7s ease forwards;
}

#parong {
	z-index: 99;
	position: absolute;
	bottom: 0px;
	height: 100%;
	left: 0;
	animation: tunneltravel 7s ease forwards;
}


@keyframes tunneltravel {
	0% {
		left: 0px;
	}

	50% {
		opacity: 1;
	}

	80% {
		left: -2250px;
		opacity: 1;
	}

	100% {
		left: -2250px;
		opacity: 1;
	}
}

@keyframes togpow {
	0% {
		left: 0;
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	80% {
		opacity: 1;
		left: 400px;
	}

	100% {
		opacity: 1;
		left: 400px;

	}
}
