#container {
     height: 100%;
     width: 10000px;
     background-color: rgb(256, 256, 256);
     position: relative; /* steg 1*/  
      background-image: url(Bilder/universe.png);
    
}
    


.planeter {
    position: relative;
    margin: 0;
    left: -1200px;
    top: -200px;
}

#jupiter {
    position: relative;
    bottom: 0;
    left: 1300px;
    top: -100px;
    
}

#jorda {
    position: relative;
    bottom: 0;
    left: 1600px;
    top: -235px;
    height: 300px;
  
}

#mars {
    
     position: relative;
    bottom: 0;
    left: 1900px;
    top: -250px;
    height: 240px;
    
}

#saturn {
    
     position: relative;
    bottom: 0;
    left: 2200px;
    top: -235px;
    height: 250px;
    
}

#astronaut {
   position: relative;
    bottom: 0;
    left: 1750px;
    top: -550px;
    height: 100px;
    animation: astronautMove 10s ease forwards;
}


@keyframes astronautMove{
    0%{
        left: 15px;
        bottom: 350px;
    }
   
  
    50%{
        bottom: 600px;
        transform: rotate(180deg);
    
    
    
    
    100%{
        bottom: 0;
        left: 2000px;        
    }
}