body {
   margin: 0;
    background-color: rgb(255,255,255);
}

#tunnelview {
    background-color: rgb(255,255,255);
    width: 1366px;
    height: 300px;
    top: 150px;
    left: 15px;
    position: absolute;
    overflow: hidden;
    margin: auto;
    border: 2px solid;
}

#station-name{
    font-size: 20px;
    top: 80px;
    font-family: Helvetica;
    left: 580px;
    position: absolute;
    z-index: 200;
}

#train {
    z-index: 100;
    position: absolute;
    bottom: -205px;
    left: 100px;
    height: 500px;
    animation: togpow 7s ease forwards;
}

#parong {
    z-index: 99;
    position: absolute;
    bottom: 0px;
    height: 100%;
    left: 0;
    animation: tunneltravel 7s ease forwards;
}



@keyframes tunneltravel {
    0% {
        left: 0px;
    }
    50% {
        opacity: 1;
    }
    80% {
        left: -2250px; 
       opacity: 1;
    }
    100% {
        left: -2250px;
        opacity: 1;
    }
}

@keyframes togpow {
    0% {
        left: 0;
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 1;
        left: 400px;
    }
    100% {
        opacity: 1;
        left: 400px;

    }
}



